* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Roboto, sans-serif;

}
.wrapper {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-rows: 50px 5fr 1fr;
    grid-template-columns: 1fr 7fr 1fr 1fr;
    /*grid-template-areas:*/
    /*        "header header header header"*/
    /*        ". nav  main-body main-body"*/
    /*        ". nav footer footer";*/
    grid-gap: 1em;

}

/*.main{*/
/*    grid-area: main-body;*/
/*}*/
main {
    background: yellow;
    grid-area: 2 / 2 / 3 / -1;
}


header {
    /*grid-area: header;*/
    background: black;
    grid-area: 1 / 1 / 2 / -1;
}
header a {
    color: white;
}
header ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    margin: .5em;
    width: 100%;
}
header ul li {
    margin: 0 .5em 0 .5em;
}
header ul a:hover {
    background: gray;
}

nav{
    /*grid-area: nav;*/
    background: deepskyblue;
    width: 100%;
    grid-area: 2 / 1 / -1 / 2;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: stretch;
    justify-content: flex-start;
}
nav ul li {
    margin-left: .5em;
}
footer{
    /*grid-area: footer;*/
    display: flex;
    flex-direction: column;
    background: lightgrey;
    grid-area: 3/ 2 / -1 / -1;
}

footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background: white;
}
footer ul li{
    padding: 1em;
}
.foot1 {
    padding: 2em;
    color: white;
}
.foot2 {
    padding: .5em;
    background: darkslategray;
    color: white;
}
/*footer ul li:hover{*/
/*    background: black;*/
/*    color: white;*/
/*}*/
/*footer ul li a:hover{*/
/*    background: black;*/
/*    color: white;*/
/*}*/
h2 {
    color: #358275;
    margin: 1em 1em 1em .5em;
}
p {
    margin-left: .5em;
}
/*article {*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*}*/
a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: .5em;
}
a:hover {
    background: black;
    color: white;
    width: 100%;
}
.menu {
    font-weight: bold;
    margin: 1em;
    font-size: larger;
}

article{
    display: grid;
    /*width: 100%;*/
    /*height: 100vh;*/
    grid-template-rows: 1fr;
    grid-template-columns: 5fr 1fr;
    grid-gap: 1em;
}

article .info{
    grid-area: 1/1/2/2;
}

article .ads {
    grid-area: 1/2/-1/-1;
}

.ads{
    display: flex;
}
.ad1 {
    height: 50px;
    width: 200px;
    border: 1px solid gray;
    margin: 1em 1em 1em 1em;
}
.ad2 {
    height: 100px;
    width: 200px;
    border: 1px solid gray;
    margin: 0 1em 0 1em;
}
.ads ul {
    list-style: none;
}