* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: grid;
    width: 100%;
    height: 100vh;
    font-family: Roboto, sans-serif;
    grid-template-rows: 1fr 90% 1fr;
    grid-template-columns: 1fr 80%;
    grid-template-areas:
            "header header"
            "nav main-body"
            "nav footer";
}

.main{
    grid-area: main-body;
}
main {
    background: yellow;
}

header {
    grid-area: header;
    background: black;
    /*color: white;*/
}
header a {
    color: white;
}
header ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    margin: .5em;
}
header ul li {
    margin: 0 .5em 0 .5em;
}
header ul a:hover {
    background: gray;
}

nav{
    grid-area: nav;
    background: deepskyblue;
    width: 100%;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: stretch;
    justify-content: flex-start;
}
footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    background: lightcoral;
}

footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
footer ul li{
    padding: 1em;
}
/*footer ul li:hover{*/
/*    background: black;*/
/*    color: white;*/
/*}*/
/*footer ul li a:hover{*/
/*    background: black;*/
/*    color: white;*/
/*}*/
h2 {
    color: #358275;
}
article {
    display: flex;
    justify-content: space-around;
}
a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: .5em;
}
a:hover {
    background: black;
    color: white;
    width: 100%;
}
.menu {
    font-weight: bold;
    margin: 1em;
    font-size: larger;
}