* {
    margin: 0;
    padding: 0;
}
body {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 1fr 80%;
    grid-template-areas:
            "header header"
            "nav-css main-body"
            "nav-css footer";
}

.main{
    grid-area: main-body;
}

header {
    grid-area: header;
    background: black;
    color: white;
}
header ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    margin: .5em;
}
header ul li {
    margin: 0 .5em 0 .5em;
}
header ul:hover {
    background: gray;
}

nav{
    grid-area: nav-css;
}

footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
}
nav ul {
    display: flex;
    flex-direction: column;
}

footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
footer ul li{
    padding: 1em;

}
footer ul li:hover{
    background: black;
    color: white;
}

footer ul li a:hover{
    color: white;
}
h2 {
    color: #358275;
}
article {
    display: flex;
    justify-content: space-around;
}
